<!-- Busuanzi visitor counter -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="busuanzi-counter" style="text-align: center; font-size: 0.75em; color: #888; margin-top: 0.5em;">
  <span id="busuanzi_container_site_uv" style="display: none;">
    <i class="fas fa-user"></i> visitors: <span id="busuanzi_value_site_uv">0</span>
  </span>
  &nbsp;|&nbsp;
  <span id="busuanzi_container_site_pv" style="display: none;">
    <i class="fas fa-eye"></i> views: <span id="busuanzi_value_site_pv">0</span>
  </span>
</div>
